.miaTabella {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.miaTabella thead tr {
    background-color: #FA3D64;
    color: #ffffff;
    text-align: left;
}

.miaTabella th,
.miaTabella td {
    padding: 12px 15px;
}

.miaTabella tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.miaTabella tbody tr:hover {
    transform: scale(1.005);
    background-color: #ffc5c5;
}

.miaTabella tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.miaTabella tbody tr:last-of-type {
    border-bottom: 2px solid #FA3D64;
}